@import url('https://fonts.googleapis.com/css?family=Roboto:700');

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    box-sizing: border-box;
    color: white;
    background-color: black;
    height: 100px;
    width: 100%;
    padding-left: 10%;
}
h1, h2 {
    margin: 0px;
    padding-top: 20px;
    font-size: 350%;
    display: inline-block;
}
h2 {
    padding-left: 30px;
    font-size: 200%;
}
#wrapper {margin: 0 10%;}
#summary {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 150%;
}
img {
    display: inline;
    position: relative;
    float: left;
    margin: 0px;
}
#review {display: inline;}
a {color: #f47503;}
section {
    display: none; /*close all tabs on load*/
    border-style: dashed;
    border-width: 5px;
    border-color: #f47503;
    padding: 5px;
    background: rgba(244, 117, 3, 0.3);
}
#booking {display: block; /*open booking on load*/}
#learning {text-align: center;}
h3 {font-size: 150%;}
main {
    margin: 0 auto;
    width: 50%
}
#resources {text-align: center;}
.meta-learning, .math-lessons {
    display: inline-block;
    margin: 0 auto;
}
li {text-align: left;}
button {
    margin: 10px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    background-color: white;
    display: block;
}
button h3 {
    margin: 0px;
    padding: 5px;
}
